<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="addSong" method="post">
        <label for="songname">Song name:</label>
        <input type="text" id="songname" name="name" required><br>

        <label for="songartist">Song Artist:</label>
        <input type="text" id="songartist" name="artist" required><br>

        <label for="songgenre">Song Genre:</label>
        <input type="text" id="songgenre" name="genre" required><br>

		<label for="songlink">Song Link:</label>
        <input type="text" id="songlink" name="link" required><br>

        <input type="submit" value="ADD SONG">
    </form>
</body>
</html>